<% content_for :page_pretitle do %>
  Space / Subscriptions
<% end %>
<% content_for :page_title do %>
  <%= @space.name %>
<% end %>
<div class="row row-cards">
  <% if @active_subscription.present? %>
    <div class="col-12">
      <div class="card card-md">
        <div class="ribbon bg-green">
          Active
        </div>
        <div class="card-status-bottom bg-success"></div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-3">
              <p class="m-0 text-secondary">Plan name</p>
              <h2 class="h3"><%= @active_subscription.plan.name %></h2>
            </div>
            <div class="col-3">
              <p class="m-0 text-secondary">Start date</p>
              <h2 class="h3"><%= @active_subscription.start_date %></h2>
            </div>
            <div class="col-3">
              <p class="m-0 text-secondary">End date</p>
              <h2 class="h3"><%= @active_subscription.end_date || '-' %></h2>
            </div>
            <div class="col-3">
              <p class="m-0 text-secondary">seats</p>
              <h2 class="h3"><%= @active_subscription.seats || '-' %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'plans' %>
</div>
