<h2 class="mb-4">Details</h2>
<%= form_with(model: space) do |form| %>
  <% if space.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>
      <ul>
        <% space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3 row">
    <%= form.label :name, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :name, class:"form-control", ariaDescribedby:"nameHelp", placeholder: "Enter name" %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%= form.label :status, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :status, class:"form-control", ariaDescribedby:"statusHelp", placeholder: "Enter status"%>
    </div>
  </div>
  <div class="form-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
