<div class="card border">
  <div class="row g-0">
    <div class="col-3 d-none d-md-block border-end">
      <div class="card-body">
        <h4 class="subheader">General</h4>
        <div class="list-group list-group-transparent flex-column nav nav-space-settings" id="space-settings-tab" role="tablist" aria-orientation="vertical">
          <button
            class="list-group-item list-group-item-action d-flex align-items-center nav-link active"
            id="space-details-tab" data-bs-toggle="tab" data-bs-target="#space-details" type="button" role="tab" aria-controls="space-details" aria-selected="true"
          >
            Details
            <small class="text-muted ms-auto">6</small>
          </button>
          <button
            class="list-group-item list-group-item-action d-flex align-items-center nav-link"
            id="space-roles-tab" data-bs-toggle="tab" data-bs-target="#space-roles" type="button" role="tab" aria-controls="space-roles" aria-selected="false"
          >
            Roles
            <small class="text-muted ms-auto"><%= space_roles.count %></small>
          </button>
          <button
            class="list-group-item list-group-item-action d-flex align-items-center nav-link"
            id="space-theme-tab" data-bs-toggle="tab" data-bs-target="#space-theme" type="button" role="tab" aria-controls="space-theme" aria-selected="false"
          >
            Theme
            <small class="text-muted ms-auto">3</small>
          </button>
          <button
            class="list-group-item list-group-item-action d-flex align-items-center nav-link"
            id="space-notifications-tab" data-bs-toggle="tab" data-bs-target="#space-notifications" type="button" role="tab" aria-controls="space-notifications" aria-selected="false"
          >
            Notifications
            <!-- <small class="text-muted ms-auto">149</small> -->
          </button>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="card-body tab-content" id="space-settings-tabContent">
        <div class="tab-pane show active" id="space-details" role="tabpanel" aria-labelledby="space-details-tab" tabindex="0">
          <%= render "details", space: @space %>
        </div>
        <div class="tab-pane" id="space-roles" role="tabpanel" aria-labelledby="space-roles-tab" tabindex="0">
          <%= render "roles", space: @space %>
        </div>
        <div class="tab-pane" id="space-theme" role="tabpanel" aria-labelledby="space-theme-tab" tabindex="0">
          <%= render "theme", space: @space %>
        </div>
        <div class="tab-pane" id="space-notifications" role="tabpanel" aria-labelledby="space-notifications-tab" tabindex="0">
          <%= render "notifications", space: @space %>
        </div>
      </div>
    </div>
  </div>
</div>
