<h2 class="mb-4">Roles</h2>

<div class="card border">
  <div class="row g-0">
    <div class="col-3 d-none d-md-block border-end">
      <div class="card-body">
        <div class="list-group list-group-transparent flex-column nav nav-role-settings" id="role-settings-tab" role="tablist" aria-orientation="vertical">
        <% space_roles.each_with_index do |role, i| %>
          <button
            class="list-group-item list-group-item-action d-flex align-items-center nav-link <%= 'active' if i.zero? %>"
            id=<%= "roles-#{role.id}-tab" %> data-bs-toggle="tab" data-bs-target=<%= "#roles-#{role.id}" %> type="button" role="tab" aria-controls=<%= "roles-#{role.id}" %> aria-selected="<%= i.zero? ? 'true' : 'false' %>"
          >
            <%= role.name %>
          </button>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="tab-content" id="role-settings-tabContent">
        <% space_roles.each_with_index do |role, i| %>
        <div class="tab-pane <%= 'active' if i.zero? %>" id=<%= "roles-#{role.id}" %> role="tabpanel" aria-labelledby=<%= "roles-#{role.id}-tab" %> tabindex="0">
          <%= render "role", role: role %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
