<div id="<%= dom_id space %>">
  <p>
    <strong>Name:</strong>
    <%= space.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= space.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= space.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= space.status %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= space.address %>
  </p>

</div>
