<h2 class="mb-4">Theme</h2>
<%= form_with(model: space) do |form| %>
  <% if space.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>
      <ul>
        <% space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <%= hidden_field(:space, :user_ids, :value => [current_user.id]) %>
  <div class="form-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
  -->
<% end %>

<div class="mb-3">
  <div class="form-label">Select theme</div>
  <div>
    <label class="form-check form-check-inline">
      <input class="form-check-input" type="radio"
	       name="radios-inline"  checked>
      <span class="form-check-label">Light</span>
    </label>
    <label class="form-check form-check-inline">
      <input class="form-check-input" type="radio"
	       name="radios-inline" >
      <span class="form-check-label">Dark</span>
    </label>
    <label class="form-check form-check-inline">
      <input class="form-check-input" type="radio"
	       name="radios-inline"  >
      <span class="form-check-label">Cool</span>
    </label>
  </div>
</div>

