<h2 class="mb-4">Appearance</h2>
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label class="form-label">Light Mode</label>
    <br/>
    <div class="row g-2">
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'LIGHT-DEFAULT', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/light-default.png" alt="Light" class="form-imagecheck-image">
          </span>
          <br/>
          Light
        </label>
      </div>
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'LIGHT-COOL', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/light-cool.png" alt="Light Cool" class="form-imagecheck-image">
          </span>
          <br/>
          Light Cool
        </label>
      </div>
      <label class="form-label">Dark Mode</label>
      <br/>
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'DARK-DEFAULT', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/dark-default.png" alt="Dark" class="form-imagecheck-image">
          </span>
          <br/>
          Dark
        </label>
      </div>
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'DARK-COOL', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/dark-cool.png" alt="Dark Cool" class="form-imagecheck-image">
          </span>
          <br/>
          Dark Cool
        </label>
      </div>
      <label class="form-label">System preference</label>
      <br/>
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'SYSTEM-DEFAULT', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/dark-default.png" alt="System" class="form-imagecheck-image">
          </span>
          <br/>
          System
        </label>
      </div>
      <div class="col-6 col-sm-4">
        <label class="form-imagecheck mb-2">
          <%=  form.radio_button :pallete, 'SYSTEM-COOL', class: "form-imagecheck-input" %>
          <span class="form-imagecheck-figure">
            <img src="/dark-cool.png" alt="System Cool" class="form-imagecheck-image">
          </span>
          <br/>
          System Cool
        </label>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
