<h2 class="mb-4">Appearance</h2>
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="row g-2">
      <label class="form-label">Color scheme</label>
      <% Rails.application.config.app_settings['theme_base']['available'].each do |theme| %>
        <div class="col-6 col-sm-4">
          <label class="mb-2">
            <%=  form.radio_button :color_scheme, theme, class: "form-input" %> <%= theme.capitalize %>
          </label>
        </div>
      <% end %>

      <label class="form-label">Mode</label>
      <% Rails.application.config.app_settings['color_mode']['available'].each do |mode| %>
        <div class="col-6 col-sm-4">
          <label class="mb-2">
            <%=  form.radio_button :color_mode, mode, class: "form-input" %> <%= mode.capitalize %>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
