<h2 class="mb-4">Details</h2>
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3 row">
    <%= form.label :first_name, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :first_name, class:"form-control", ariaDescribedby:"firstNameHelp", placeholder: "Enter first name" %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%= form.label :last_name, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :last_name, class:"form-control", ariaDescribedby:"lastNameHelp", placeholder: "Enter last name" %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%= form.label :email, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :email, class:"form-control", ariaDescribedby:"emailHelp", placeholder: "Enter email", disabled: true %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%= form.label :phone, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.text_field :phone, class:"form-control", ariaDescribedby:"phoneHelp", placeholder: "Enter phone" %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%= form.label :status, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%= form.select :status, User.statuses.keys.map { |key| [key.humanize, key] }, {}, { class:"form-control", ariaDescribedby:"statusHelp" } %>
    </div>
  </div>
  <div class="form-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
