<% content_for :page_pretitle do %>
  Show
<% end %>
<% content_for :page_title do %>
  Users
<% end %>
<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter table-mobile-md card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created at</th>
              <th>Role</th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td data-label="Name" >
                  <div class="d-flex py-1 align-items-center">
                    <span class="avatar me-2"><%= abbrev_name(user.name) %></span>
                    <div class="flex-fill">
                      <div class="font-weight-medium"><%= link_to user.name, user %></div>
                      <div class="text-muted"><%= user.email %></div>
                    </div>
                  </div>
                </td>
                <td class="text-muted" data-label="Created at" >
                  <%= user.created_at %>
                </td>
                <td class="text-muted" data-label="Status" >
                  <%= user.status.capitalize %>
                </td>
                <td>
                  <div class="btn-list flex-nowrap">
                    <%=link_to "Edit", edit_user_path(user), class: "btn" %>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                        Actions
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">
                          Action
                        </a>
                        <a class="dropdown-item" href="#">
                          Another action
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
