<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <p style="color: green"><%= notice %></p>
        <h2 class="page-title">
          Showing user
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="d-flex">
          <%=link_to(new_user_path, html_options = { class: "btn btn-primary" }) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            New user
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <%= render @user %>
      <div>
        <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Back to users", users_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
