<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "card card-md" }, data: { turbo: false }) do |f| %>
  <div class="card-body">
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="card-title text-center mb-4">Forgot password</h2>
    <p class="text-muted mb-4">Enter your email address and your password will be reset and emailed to you.</p>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="form-footer">
      <%= f.submit "Send reset password instructions", class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
<%= render "devise/shared/links" %>
