<% content_for :page_pretitle do %>
  Space / Users
<% end %>
<% content_for :page_title do %>
  <%= @space.name %>
<% end %>
<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Users</h3>
        <div class="card-actions">
          <%= link_to new_space_user_path(@space), class: "btn btn-primary"  do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            New user
          <% end %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-vcenter table-mobile-md card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created at</th>
              <th>Status</th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td data-label="Name" >
                  <div class="d-flex py-1 align-items-center">
                    <span class="avatar me-2"><%= abbrev_name(user.name) %></span>
                    <div class="flex-fill">
                      <div class="font-weight-medium"><%= user.name %></div>
                      <div class="text-muted"><%= user.email %></div>
                    </div>
                  </div>
                </td>
                <td class="text-muted" data-label="Created at" >
                  <%= user.created_at %>
                </td>
                <td class="text-muted" data-label="Status" >
                  <%= user.status.capitalize %>
                </td>
                <td>
                  <div class="btn-list flex-nowrap">
                    <%=button_to edit_space_user_path(@space, user), :method => :get, class: "btn w-100" do %>
                      Edit
                    <% end %>
                    <%=button_to space_user_path(@space, user), :method => :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-danger w-100" do %>
                      Delete
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted"><%= page_entries_info @users %></p>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
