<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card card-md" }, data: { turbo: false }) do |f| %>
  <div class="card-body">
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="card-title text-center mb-4">Login to your account</h2>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="mb-2">
      <label class="form-label">
        Password
        <span class="form-label-description">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </span>
      </label>
      <div class="input-group input-group-flat">
        <%= f.password_field :password, class: "form-control", placeholder:"Password", autocomplete:"off" %>
      </div>
    </div>
    <div class="mb-2">
      <label class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <span class="form-check-label">Remember me on this device</span>
      </label>
    </div>
    <div class="form-footer">
      <%= f.submit "Log in", class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
<%= render "devise/shared/links" %>
