<%%= form_with(model: <%= model_resource_name %>) do |form| %>
  <% attributes.each do |attribute| -%>
  <div class="form-group mb-3 row">
  <% if attribute.password_digest? -%>
    <%%= form.label :password, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%%= form.password_field :password, class:"form-control" %>
    </div>
  </div>
  <div class="form-group mb-3 row">
    <%%= form.label :password_confirmation, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%%= form.password_field :password_confirmation, class:"form-control" %>
    </div>
  <% elsif attribute.attachments? -%>
    <%%= form.label :<%= attribute.column_name %>, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, multiple: true, class:"form-control" %>
    </div>
  <% elsif attribute.field_type == :checkbox -%>
    <%%= form.label :<%= attribute.column_name %>, class: "form-check-label col-3" %>

    <div class="col">
      <div class="form-check">
        <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, multiple: true, class:"form-check-input" %>
      </div>
    </div>
  <% else -%>
    <%%= form.label :<%= attribute.column_name %>, class: "form-label col-3 col-form-label" %>
    <div class="col">
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class:"form-control" %>
    </div>
  <% end %>
  </div>
  <% end %>
  <div class="form-footer">
    <%%= form.submit "Save", class:"btn btn-primary" %>
    <%%= link_to "Cancel", <%= index_helper(type: :path) %>, data: { turbo_frame: '_top'}, class: "btn" %>
  </div>
<%% end %>       
