<% content_for :page_pretitle do %>
  Space / roles
<% end %>
<% content_for :page_title do %>
  <%= @space.name %>
<% end %>

<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Roles</h3>
        <div class="card-actions">
          <%= link_to new_space_role_path(@space), class: "btn btn-primary"  do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            New role
          <% end %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-vcenter table-mobile-md card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Type</th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @space_roles.each do |role| %>
              <tr>
                <td class="text-muted" data-label="Name" >
                  <%= role.name %>
                </td>
                <td class="text-muted" data-label="Value" >
                  <%= role.value %>
                </td>
                <td class="text-muted" data-label="Type" >
                  <%= role.type.capitalize %>
                </td>
                <td>
                  <div class="btn-list flex-nowrap">
                    <%=link_to edit_space_role_path(@space, role), class: "btn w-100 btn-icon #{"disabled" if role.common?}" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                        <path d="M16 5l3 3"></path>
                      </svg>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted"><%= page_entries_info @space_roles %></p>
        <%= paginate @space_roles %>
      </div>
    </div>
  </div>
</div>
