<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <%= form_with(model: @app_setting, url: setup_path, method: :patch) do |form| %>
          <%= form.fields_for :settings do |sf| %>
            <% Rails.application.config.app_settings.each do |key, schema| %>
              <div class="form-group mb-3 row">
                <%= form.label key, class: "form-label col-6 col-form-label" %>
                <div class="col">
                  <%= sf.select key, 
                      app_settings_values(key).map { |v| [v, v] }, 
                      { selected: @app_setting.settings[key] || schema['default'] }, 
                      { class: "form-select", aria_describedby: "statusHelp" } %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="row align-items-center mt-3">
            <div class="col">
              <div class="btn-list justify-content-end">
                <%= link_to "Back", root_path, class: "btn btn-link link-secondary" %>
                <%= form.submit 'Submit', class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
