<div class="nav-item dropdown">
  <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
    <span class="avatar avatar-sm"><%= abbrev_name(current_user.name) %></span>
    <div class="d-none d-xl-block ps-2">
      <div><%= user_name(current_user.name) %></div>
      <div class="mt-1 small text-muted"><%= current_user.status %></div>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
    <%= link_to 'Profile', edit_user_path(current_user),  class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Change password', edit_user_registration_path, class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <% if saas_mode %>
      <%= link_to 'Spaces', spaces_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
    <% end %>
    <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item'  %>
  </div>
</div>
