<body>
  <div class="page">
    <!-- Navbar -->
    <header class="navbar navbar-expand-md navbar-light d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="/">
            <%= inline_svg "logo.svg", width: "110", height: "32", alt: "Portal", class: "navbar-brand-image" %>
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <%= render 'common/profile_dropdown' %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <%= render 'common/nav_items' %>
        </div>
      </div>
    </header>
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <%= render 'common/section_title' %>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <%= render 'common/space_selector' %>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <%= render 'common/flash' %>
          <%= yield %>
        </div>
      </div>
      <%= render 'common/footer' %>
    </div>
  </div>
</body>
