<body class="d-flex flex-column min-vh-100">
  <header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="/">
          <%= inline_svg "logo.svg", width: "110", height: "32", alt: "Portal", class: "navbar-brand-image" %>
        </a>
      </h1>
      <div class="navbar-nav flex-row order-md-last">
        <%= render 'common/profile_dropdown' %>
      </div>
    </div>
  </header>
  <div class="wrapper flex-grow-1">
    <div class="navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
          <div class="container-xl">
            <%= render 'common/nav_items' %>
            <div class="my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
              <%= render 'common/space_selector' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <%= render 'common/section_title' %>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <%= render 'common/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'common/footer' %>
</body>
