<body class="d-flex flex-column min-vh-100 <%= interface_mode %>">
  <%= render 'header/horizontal' %>
  <div class="wrapper flex-grow-1">
    <%= render 'navbar/horizontal' %>
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
          <% if notice %>
            <p class="alert alert-success alert-dismissible"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger alert-dismissible"><%= alert %></p>
          <% end %>
          <div class="row align-items-center">
            <%= render 'common/section_title' %>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'footer/footer' %>
</body>
