<body class="<%= interface_mode %>">
  <div class="page">
    <%= render 'header/overlap' %>
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none ">
          <div class="row g-2 align-items-center">
            <!-- Page title actions -->
            <div class="navbar-expand-md">
              <div class="navbar">
                <div class="text-white">
                  <%= render 'common/section_title' %>
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                  <%= render 'common/space_selector' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <%= yield %>
        </div>
      </div>
      <%= render 'footer/footer' %>
    </div>
  </div>
</body>
